*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F2D5F8;
}

h1 {
    text-align: center;
    font-size: 4rem; 
    padding: 0.5em;
    background-color: gainsboro;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.library {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    padding: 2em;
    background-color: #F2D5F8;
}

.card {
    min-width: 30%;
    background-color: beige;
    border-radius: 2em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h3 {
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
    }

    button {
        font-size: 1.3rem;
    }

    span {
        font-style: italic;
    }
}

.addBook {
    padding: 2em;
    margin: 2em 1em;
    border-radius: 1em;
    h2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1.5em;
    }
    background-color: white;;
}

form {
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

form label {
    font-weight: 600;
}

form label, form input, form button{
    display: block;
    
}


form input {
    width: 100%;
    border-radius: 1em;
    background-color: gainsboro;
    padding: 0.2em;
    font-size: 1.5rem;
}

form input[type="checkbox"] {
    accent-color: green;
    width: 1.5rem;
    height: 1.5rem;
}

button {
    background-color: red;
    border: none;
    color: white;
    padding: 0.8em 1em; 
    border-radius: 1.2em; 
    font-weight: 600;
}

button:hover {
    background-color: darkred;
}

.submit {
    font-size: 1.2rem;
    background-color: green;

}

.submit:hover {
    background-color: darkgreen;
}